/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
/* Pozicionálás */

.profile-card {
  width: 480px;
  max-width: calc(100vw - 10px);
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 5px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  background: url('https://i.imgur.com/jGpG9BO.jpg') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.head, .links {
  text-align: center;
}

.head, .content {
  width: 90%;
  margin: 0 auto;
  background: transparent;
}
img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 1px;
  transition: all 0.5s ease-in-out;
  filter: grayscale(50%);
}
.profile-image {
  margin-top: -200px;
}
/* Contact links */

ul {
  list-style-type: none;
}

li {
  display: inline;
  font-size: 25px;
}

.head, .about {
  margin-bottom: 10%;
}

.content {
  padding: 5% 10%;
  border-top: 1px solid hsla(0, 0%, 30%, .8);
  
}
.profile-card {
  background-color: hsla(60, 100%, 50%, .4);
  background: transparent;
}

.profile-image, .name-headline, .about, .links {
  background: transparent;
}
img:hover {
  transform: scale(1.2);
  filter: grayscale(40%);
}

.name-headline {
  float: right;
  position: relative;
  top: -35px;
  left: 0;  
}
p::first-letter {
  font-family: "Times New Roman", cursive;
  font-size: 32px;
}

p {
  font-style: oblique;
}

h2::first-letter {
  font-family: "Times New Roman", normal;
  font-size: 32px;
}

h1, span, h2{
  font-style: italic;
}

a:hover {
  transform: scale(1.2);
  filter: grayscale(40%);
}